// Align
// --------------------------------

[am-align~="left"] {
  text-align: left;
}

[am-align~="right"] {
  text-align: right;
}

[am-align~="center"] {
  text-align: center;
}

[am-align~="justify"] {
  text-align: justify;
}

[am-align~="initial"] {
  text-align: initial;
}

[am-align~="inherit"] {
  text-align: inherit;
}