// config
// --------------------------------

$btn: (
  "height": 48px,
  "color": #111111,
  "background": transparent,
  "border-width": 2px,
  "border-color": #111111,
  "loading-background": #333333
) !default;


// buttons base
// --------------------------------

.btn {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  appearance: none;
  user-select: none; }

[data-btn] {
  @extend .btn;
  position: relative;
  display: inline-block;
  color: map-get($btn, "color");
  line-height: (map-get($btn, "height") - (map-get($btn, "border-width") * 2));
  height: map-get($btn, "height");
  padding: 0 2em;
  opacity: 1;
  background: map-get($btn, "background");
  border: map-get($btn, "border-width") solid map-get($btn, "border-color");

  &:hover {
    color: map-get($btn, "color");
    text-decoration: none;
    transition: none;
  }

  &[disabled] {
    color: map-get($btn, "color");
    text-shadow: none;
    cursor: not-allowed;

    &:not(.loading) {
      opacity: 0.5;
    }
  }
}


// tick buttons
// --------------------------------

[data-btn="tick"]:not([disabled]):not(.loading) {
  transition: color 300ms ease-out 150ms;

  &:hover {
    color: transparent !important;
    transition: color 300ms;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    width: 0.6em;
    height: 1.2em;
    margin-top: -0.7em;
    margin-left: -0.3em;
    opacity: 0;
    border-right: 0.2em solid map-get($btn, "color");
    border-bottom: 0.2em solid map-get($btn, "color");
    box-sizing: border-box;
    transform-origin: 50% 50%;
    transform: rotate(45deg) scale(0.5, 0.5);
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(45deg) scale(1, 1);
    transition: opacity 300ms, transform 300ms;
  }
}


// arrow buttons
// --------------------------------

[data-btn="arrow"]:not([disabled]):not(.loading) {
  transition: color 300ms ease-out 150ms;

  &:hover {
    color: transparent !important;
    transition: color 300ms;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -0.4em;
    margin-left: -0.4em;
    width: 0.8em;
    height: 0.8em;
    opacity: 0;
    border-right: 0.2em solid map-get($btn, "color");
    border-bottom: 0.2em solid map-get($btn, "color");
    box-sizing: border-box;
    transform-origin: 50% 50%;
    transform: rotate(-45deg) translate(-10px, -10px);
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, 0px);
    transition: opacity 300ms, transform 300ms;
  }
}


// button loading
// --------------------------------

[data-btn].loading {
  color: transparent !important;
  cursor: default;
  pointer-events: none;
  transform: scale(1, 0.25);
  transform-origin: 50% 50%;
  transition: transform 300ms, color 300ms, border 300ms, background 300ms;
  
  @if (lightness(map-get($btn, "loading-background")) > 50) {
    border-color: lighten(map-get($btn, "loading-background"), 30);
    background: darken(map-get($btn, "loading-background"), 30);
  }
  
  @else {
    border-color: lighten(map-get($btn, "loading-background"), 30);
    background: lighten(map-get($btn, "loading-background"), 30);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: map-get($btn, "loading-background");
    animation: amBtnLoading 1500ms linear 300ms infinite backwards;
  }

  @at-root {
    @keyframes amBtnLoading {
      0% {
        left: 0%;
        right: 100%;
      }
      50% {
        left: 0%;
        right: 0%;
      }
      100% {
        left: 100%;
        right: 0%;
      }
    }
  }
}