// Config map
// --------------------------------

$am-btn: (
  "height": 3rem,
  "fill-color": #ffffff,
  "fill-background": #333333,
  "ghost-color": #111111,
  "ghost-border-width": 2px,
  "ghost-border-color": #111111,
  "loading-background": #333333
) !default;


// Base styles
// --------------------------------

[am-btn] {
  position: relative;
  display: inline-block;
  height: map-get($am-btn, "height");
  padding: 0 2em;
  margin: 0;
  opacity: 1;
  font-size: 1rem;
  font-weight: inherit;
  font-family: inherit;
  line-height: map-get($am-btn, "height");
  text-decoration: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  transition: none;

  &[disabled] {
    text-shadow: none;
    cursor: not-allowed;

    &:not(.loading) {
      opacity: 0.5;
    }
  }
}


// Ghost & fill
// --------------------------------

[am-btn~="ghost"] {
  color: map-get($am-btn, "ghost-color");
  background-color: transparent;
  border: map-get($am-btn, "ghost-border-width") solid map-get($am-btn, "ghost-border-color");
  line-height: calc(#{map-get($am-btn, "height")} - #{map-get($am-btn, "ghost-border-width") * 2});

  &:hover,
  &[disabled] {
    color: map-get($am-btn, "ghost-color");
  }
}

[am-btn~="fill"] {
  color: map-get($am-btn, "fill-color");
  background-color: map-get($am-btn, "fill-background");

  &:hover,
  &[disabled] {
    color: map-get($am-btn, "fill-color");
  }
}


// Tick button
// --------------------------------

[am-btn~="tick"] {
  transition: color 300ms ease 150ms;

  &:hover {
    transition-delay: 0ms;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    width: 0.5em;
    height: 1.2em;
    margin-top: -0.7em;
    margin-left: -0.2em;
    opacity: 0;
    border-style: solid;
    border-width: 0 0.15em 0.15em 0;
    box-sizing: border-box;
    transform: rotate(45deg) scale(0.5, 0.5);
    transform-origin: 50% 50%;
    transition: opacity 300ms, transform 300ms;
  }

  &[am-btn~="fill"]::before {
    border-color: map-get($am-btn, "fill-color");
  }

  &[am-btn~="ghost"]::before {
    border-color: map-get($am-btn, "ghost-color");
  }

  &:not([disabled]):not(.loading) {
    &:hover {
      color: transparent;
    }

    &:hover::before {
      opacity: 1;
      transform: rotate(45deg) scale(1, 1);
    }
  }
}


// Arrow button
// --------------------------------

[am-btn~="arrow"] {
  transition: color 300ms ease 150ms;

  &:hover {
    transition-delay: 0ms;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -0.4em;
    margin-left: -0.6em;
    width: 0.8em;
    height: 0.8em;
    opacity: 0;
    border-style: solid;
    border-width: 0 0.15em 0.15em 0;
    box-sizing: border-box;
    transform: rotate(-45deg) translate(-10px, -10px);
    transform-origin: 50% 50%;
    transition: opacity 300ms, transform 300ms;
  }

  &[am-btn~="fill"]::before {
    border-color: map-get($am-btn, "fill-color");
  }

  &[am-btn~="ghost"]::before {
    border-color: map-get($am-btn, "ghost-color");
  }

  &:not([disabled]):not(.loading) {
    &:hover {
      color: transparent;
    }

    &:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translate(0px, 0px);
    }
  }
}


// Loading state
// --------------------------------

[am-btn].loading {
  color: transparent;
  cursor: default;
  pointer-events: none;
  transform: scale(1, 0.25);
  transform-origin: 50% 50%;
  transition: transform 300ms, color 300ms, border 300ms, background 300ms;

  @if (lightness(map-get($am-btn, "loading-background")) > 50) {
    border-color: lighten(map-get($am-btn, "loading-background"), 30);
    background-color: darken(map-get($am-btn, "loading-background"), 30);
  }

  @else {
    border-color: lighten(map-get($am-btn, "loading-background"), 30);
    background-color: lighten(map-get($am-btn, "loading-background"), 30);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: map-get($am-btn, "loading-background");
    animation: amBtnLoading 1500ms linear 300ms infinite backwards;
  }
}

@keyframes amBtnLoading {
  0% {
    left: 0%;
    right: 100%;
  }
  50% {
    left: 0%;
    right: 0%;
  }
  100% {
    left: 100%;
    right: 0%;
  }
}