// required vars
// --------------------------------

$btn-height: 32px;
$btn-border-width: 2px;

$c-btn: $c-black;
$c-btn-bg: transparent;
$c-btn-border: $c-black;
$c-btn-loading: lighten($c-black, 50);


// buttons base
// --------------------------------

.btn {
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  appearance: none;
  user-select: none; }

[data-btn] {
  @extend .btn;
  position: relative;
  display: inline-block;
  color: $c-btn;
  line-height: ($btn-height - ($btn-border-width * 2));
  height: $btn-height;
  padding: 0 2em;
  font-weight: normal;
  opacity: 1;
  background: $c-btn-bg;
  border: $btn-border-width solid $c-btn-border;

  &:hover {
    color: $c-btn;
    text-decoration: none;
    transition: opacity 300ms, color 300ms;
  }

  &[disabled] {
    color: $c-btn;
    text-shadow: none;
    cursor: not-allowed;

    &:not(.loading) {
      opacity: 0.5;
    }
  }
}


// tick buttons
// --------------------------------

[data-btn="tick"]:not([disabled]):not(.loading) {
  transition: opacity 300ms, color 300ms ease 150ms;

  &:hover {
    color: transparent !important;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -0.7em;
    margin-left: -0.3em;
    width: 0.6em;
    height: 1.2em;
    opacity: 0;
    border-right: 0.2em solid $c-btn;
    border-bottom: 0.2em solid $c-btn;
    box-sizing: border-box;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-10px, 10px);
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
  }
}


// arrow buttons
// --------------------------------

[data-btn="arrow"]:not([disabled]):not(.loading) {
  transition: opacity 300ms, color 300ms ease 150ms;

  &:hover {
    color: transparent !important;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -0.4em;
    margin-left: -0.4em;
    width: 0.8em;
    height: 0.8em;
    opacity: 0;
    border-right: 0.2em solid $c-btn;
    border-bottom: 0.2em solid $c-btn;
    box-sizing: border-box;
    transform-origin: 50% 50%;
    transform: rotate(-45deg) translate(-10px, -10px);
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, 0px);
  }
}


// button loading
// --------------------------------

[data-btn].loading {
  color: transparent;
  cursor: default;
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(1, 0.25);
  transition: transform 200ms, color 200ms;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $c-btn-loading;
    animation: btnLoading 1.5s linear 0s infinite;
  }

  @at-root {
    @keyframes btnLoading {
      0% {
        left: 0%;
        right: 100%;
      }
      50% {
        left: 0%;
        right: 0%;
      }
      100% {
        left: 100%;
        right: 0%;
      }
    }
  }
}