// Floats
// --------------------------------

[am-float~="left"] {
  float: left;
}

[am-float~="right"] {
  float: right;
}

[am-float~="none"] {
  float: none;
}

[am-float~="initial"] {
  float: initial;
}

[am-float~="inherit"] {
  float: inherit;
}