// config
// --------------------------------

$form: (
  "height": 48px,
  "checkbox-height": 32px,
  "spacing": 1rem,
  "color": #111111,
  "placeholder": #888888,
  "background-color": #eeeeee,
  "border-width": 2px,
  "border-color": #cccccc,
  "valid": #9bd49b,
  "invalid": #ed9696
) !default;


// forms
// --------------------------------

textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  height: map-get($form, "height");
  padding: 0 map-get($form, "spacing");
  margin-bottom: map-get($form, "spacing");
  font-size: 1rem;
  color: map-get($form, "color");
  background: map-get($form, "background");
  appearance: none;
  border-radius: 0px;
  box-sizing: border-box;
  border: map-get($form, "border-width") solid map-get($form, "border-color");
  transition: border 300ms;

  &[disabled] {
    color: lighten(map-get($form, "color"), 50);
  }
  
  &:-moz-placeholder {
    color: map-get($form, "placeholder");
  }

  &::-moz-placeholder {
    color: map-get($form, "placeholder");
  }

  &:-ms-input-placeholder {
    color: map-get($form, "placeholder");
  }

  &::-webkit-input-placeholder {
    color: map-get($form, "placeholder");
  }

  &.valid,
  &.ng-dirty.ng-valid {
    border-color: map-get($form, "valid");
  }

  &.invalid,
  &.ng-dirty.ng-invalid {
    border-color: map-get($form, "invalid");
  }
}

textarea {
  height: 8em;
  padding: map-get($form, "spacing");
}


// select boxes
// --------------------------------

[data-select] {
  position: relative;
  width: 100%;
  height: map-get($form, "height");
  line-height: map-get($form, "height");
  margin-bottom: map-get($form, "spacing");
  overflow: hidden;
  background: map-get($form, "background");
  border: map-get($form, "border-width") solid map-get($form, "border-color");

  select {
    display: block;
    width: 100%; 
    height: 100%;
    padding: 0 map-get($form, "spacing");
    border: none;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    border-radius: 0px;
    background-image: none;
    background-color: transparent;
    box-shadow: 0px;
    appearance: none;

    &:focus {
      outline: none;
    }
    
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 map-get($form, "color");
    }
  }

  option {
    padding: 10px map-get($form, "spacing");
    background: #ffffff;
  }
}


// checkboxes
// --------------------------------

[data-checkbox] {
  position: relative;
  min-height: map-get($form, "checkbox-height");
  line-height: map-get($form, "checkbox-height");
  padding-left: map-get($form, "checkbox-height");
  margin-bottom: map-get($form, "spacing");
  
  &::before,
  &::after {
    display: table;
    content: " ";
  }
  
  &::after {
    clear: both;
  }

  input { 
    display: none;
  
    & + label {
      position: absolute;
      display: block;
      top: 0; 
      left: 0;
      width: map-get($form, "checkbox-height");
      height: map-get($form, "checkbox-height");
      vertical-align: middle;
      cursor: pointer;
      background: map-get($form, "background");
      border: map-get($form, "border-width") solid map-get($form, "border-color");
      
      & + label {
        display: block;
        float: left;
        margin-left: 1rem;
      }
    }

    &:checked + label {
      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        top: 50%; 
        left: 10%;
        width: 80%; 
        height: 1px;
        margin-top: -0.5px;
        background: map-get($form, "color"); 
      }
  
      &::before { 
        transform: rotate(-45deg);
      }
      
      &::after { 
        transform: rotate(45deg);
      }
    }
  }
}