// Config map
// --------------------------------

$am-form: (
  "input-height": 3rem,
  "checkbox-height": 2rem,
  "spacing": 1rem,
  "color": #111111,
  "placeholder": #888888,
  "background-color": transparent,
  "border-width": 2px,
  "border-color": #cccccc,
  "positive-color": #9bd49b,
  "negative-color": #ed9696
) !default;


// Input & textarea
// --------------------------------

[am-form~="input"],
[am-form~="textarea"] {
  display: block;
  width: 100%;
  height: map-get($am-form, "input-height");
  padding: 0 map-get($am-form, "spacing");
  margin-bottom: map-get($am-form, "spacing");
  font-size: 1rem;
  font-weight: inherit;
  line-height: normal;
  color: map-get($am-form, "color");
  background-color: map-get($am-form, "background-color");
  outline: none;
  appearance: none;
  border-radius: 0px;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: baseline;
  touch-action: manipulation;
  border: map-get($am-form, "border-width") solid map-get($am-form, "border-color");
  transition: border 300ms;

  &[disabled] {
    color: lighten(map-get($am-form, "color"), 50);
  }

  &:-moz-placeholder {
    color: map-get($am-form, "placeholder");
  }

  &::-moz-placeholder {
    color: map-get($am-form, "placeholder");
  }

  &:-ms-input-placeholder {
    color: map-get($am-form, "placeholder");
  }

  &::-webkit-input-placeholder {
    color: map-get($am-form, "placeholder");
  }

  &.valid,
  &.ng-dirty.ng-valid {
    border-color: map-get($am-form, "positive-color");
  }

  &.invalid,
  &.ng-dirty.ng-invalid {
    border-color: map-get($am-form, "negative-color");
  }
}

[am-form~="textarea"] {
  height: 8em;
  padding: map-get($am-form, "spacing");
}


// Select box
// --------------------------------

[am-form~="select"] {
  position: relative;
  width: 100%;
  height: map-get($am-form, "input-height");
  line-height: map-get($am-form, "input-height");
  margin-bottom: map-get($am-form, "spacing");
  overflow: hidden;
  background-color: map-get($am-form, "background-color");
  border: map-get($am-form, "border-width") solid map-get($am-form, "border-color");

  select {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 map-get($am-form, "spacing");
    border: none;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    border-radius: 0px;
    background-image: none;
    background-color: transparent;
    box-shadow: 0px;
    appearance: none;

    &:focus {
      outline: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 map-get($am-form, "color");
    }
  }

  option {
    padding: 10px map-get($am-form, "spacing");
    background-color: #ffffff;
  }
}


// Checkbox
// --------------------------------

[am-form~="checkbox"] {
  position: relative;
  min-height: map-get($am-form, "checkbox-height");
  line-height: map-get($am-form, "checkbox-height");
  padding-left: map-get($am-form, "checkbox-height");
  margin-bottom: map-get($am-form, "spacing");

  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }

  input {
    display: none;

    & + label {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: map-get($am-form, "checkbox-height");
      height: map-get($am-form, "checkbox-height");
      vertical-align: middle;
      cursor: pointer;
      background-color: map-get($am-form, "background-color");
      border: map-get($am-form, "border-width") solid map-get($am-form, "border-color");

      & + label {
        display: block;
        float: left;
        margin-left: 1rem;
      }
    }

    &:checked + label {
      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        left: 10%;
        width: 80%;
        height: 1px;
        margin-top: -0.5px;
        background-color: map-get($am-form, "color");
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}