// required vars
// --------------------------------

$form-height: 32px;
$form-spacing: 1rem;
$form-border-width: 1px;

$c-form: $c-font;
$c-form-bg: darken($c-bg, 5);
$c-placeholder: #888888;
$c-form-border: darken($c-form-bg, 10);

$c-valid: $c-black;
$c-valid-bg: #9bd49b;
$c-invalid: $c-black;
$c-invalid-bg: #ed9696;


// forms
// --------------------------------

//forms: elements
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width:100%; height:$form-height;
  padding-left: $form-spacing;
  padding-right: $form-spacing;
  margin-bottom: $form-spacing;
  font-size: 1rem;
  color: $c-form;
  background: $c-form-bg;
  appearance: none;
  border-radius: 0px;
  box-sizing: border-box;
  border: $form-border-width solid $c-form-border;
  transition: border 300ms; }

textarea {
  height: 8em;
  padding-top: $form-spacing;
  padding-bottom: $form-spacing; }

input[disabled],
textarea[disabled] { color: lighten($c-form, 50); }


//forms: placeholders
input, textarea {
  &:-moz-placeholder { color: $c-placeholder; }
  &::-moz-placeholder { color: $c-placeholder; }
  &:-ms-input-placeholder { color: $c-placeholder; }
  &::-webkit-input-placeholder { color: $c-placeholder; }
}


//forms: alerts
input, textarea {
  &.ng-dirty.ng-valid { border-color: $c-valid-bg; }
  &.ng-dirty.ng-invalid { border-color: $c-invalid-bg; }
}


// select boxes
// --------------------------------

[data-select] {
  position: relative;
  width: 100%;
  height: $form-height;
  line-height: $form-height;
  margin-bottom: $form-spacing;
  overflow: hidden;
  background: $c-form-bg;
  border: $form-border-width solid $c-form-border; }

[data-select] {

  select {
    position: relative;
    z-index: 20;
    display: block;
    width:100%; height:100%;
    padding: 0 $form-spacing;
    border: none;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

  select:focus { outline: none; }

  option {
    padding: 0.5em $form-spacing;
    background: #ffffff; }

}


// checkboxes
// --------------------------------

[data-checkbox] {
  position: relative;
  line-height: 2em;
  padding-left: 3em;
  margin-bottom: $form-spacing;
  min-height: $form-height; }

[data-checkbox] {

  input { display: none; }

  input + label {
    position: absolute;
    display: block;
    top:0; left:0;
    width:2em; height:2em;
    vertical-align: middle;
    cursor: pointer;
    background: $c-form-bg;
    border: $form-border-width solid $c-form-border; }

  input:checked + label:before,
  input:checked + label:after {
    position: absolute;
    display: block;
    content: "";
    top:50%; left:10%;
    width:80%; height:1px;
    margin-top:-0.5px;
    background: $c-form; }

  input:checked + label:before { transform: rotate(-45deg); }
  input:checked + label:after { transform: rotate(45deg); }

}


// response
// --------------------------------

[data-response] {

  display: block;
  font-size: 1rem;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: $form-spacing;

  &::after { clear: both; }

  &::before, &::after {
    content: " ";
    display: table;
  }

}


//response: enter & leave
[data-response] {

  &.ng-enter {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 150ms, padding 150ms, margin 150ms, opacity 300ms ease 150ms; }

  &.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: $form-spacing; }

  &.ng-leave {
    opacity:1;
    max-height: 6em;
    overflow: hidden;
    transition: max-height 150ms ease 300ms, padding 300ms ease 300ms, margin 150ms ease 300ms, opacity 300ms; }

  &.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; }

}


//response: colours
[data-response="success"] {
  color: $c-valid;
  background: $c-valid-bg; }

[data-response="error"] {
  color: $c-invalid;
  background: $c-invalid-bg; }


//response: close
[data-response] .close {

  position: relative;
  display: block;
  width:1em; height:1em;
  float: right;
  margin: #{($line-height - 1) / 2}em 0 0 1em;

  &::before, &::after {
    position: absolute;
    display: block;
    content: "";
    top:0; left:50%;
    margin-left: -1px;
    width:2px; height:100%;
    transform-origin: 50% 50%; }

  &::before { transform: rotate(45deg); }
  &::after { transform: rotate(-45deg); }

}

[data-response="success"] .close {
  &::before, &::after { background: $c-valid; }
}

[data-response="error"] .close {
  &::before, &::after { background: $c-invalid; }
}