// config
// --------------------------------

$am-columns: 12 !default;

$am-breakpoints: (
  "xs": (
    "width": 0px,
    "spacing": 1rem 
  ),
  "sm": (
    "width": 420px,
    "spacing": 1rem
  ),
  "md": (
    "width": 768px,
    "spacing": 2rem
  ),
  "lg": (
    "width": 992px,
    "spacing": 2rem
  ),
  "xl": (
    "width": 1200px,
    "spacing": 2rem
  )
) !default;


// target specific breakpoint
// --------------------------------

$only-xs: "only screen and (max-width: #{map-get(map-get($am-breakpoints, sm), width) - 1px})";
$only-sm: "only screen and (min-width: #{map-get(map-get($am-breakpoints, sm), width)}) and (max-width: #{map-get(map-get($am-breakpoints, md), width) - 1px})";
$only-md: "only screen and (min-width: #{map-get(map-get($am-breakpoints, md), width)}) and (max-width: #{map-get(map-get($am-breakpoints, lg), width) - 1px})";
$only-lg: "only screen and (min-width: #{map-get(map-get($am-breakpoints, lg), width)}) and (max-width: #{map-get(map-get($am-breakpoints, xl), width) - 1px})";
$only-xl: "only screen and (min-width: #{map-get(map-get($am-breakpoints, xl), width)})";


// below breakpoint
// --------------------------------

$below-sm: "only screen and (max-width: #{map-get(map-get($am-breakpoints, sm), width) - 1px})";
$below-md: "only screen and (max-width: #{map-get(map-get($am-breakpoints, md), width) - 1px})";
$below-lg: "only screen and (max-width: #{map-get(map-get($am-breakpoints, lg), width) - 1px})";
$below-xl: "only screen and (max-width: #{map-get(map-get($am-breakpoints, xl), width) - 1px})";


// above breakpoint
// --------------------------------

$above-sm: "only screen and (min-width: #{map-get(map-get($am-breakpoints, sm), width)})";
$above-md: "only screen and (min-width: #{map-get(map-get($am-breakpoints, md), width)})";
$above-lg: "only screen and (min-width: #{map-get(map-get($am-breakpoints, lg), width)})";
$above-xl: "only screen and (min-width: #{map-get(map-get($am-breakpoints, xl), width)})";


// ipad
// --------------------------------

$ipad-portrait: "all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait)";
$ipad-landscape: "all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape)";


// base
// --------------------------------

[data-container],
[data-row] {
  box-sizing: border-box;
  
  &::before,
  &::after {
    display: table;
    content: " ";
  }
  
  &::after {
    clear: both;
  }
}

[data-container] {
  margin: 0 auto;
}

[data-col] {
  position: relative;
  width: 100%;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
}


// grid rules
// --------------------------------

@mixin grid-rules($breakpoint-key, $breakpoint-map) {
  
  // column width
  $col-width: (100% / $am-columns);
  
  // grid spacing
  [data-container] {    
    padding: 0 map-get($breakpoint-map, "spacing");
  }
  
  [data-row] {
    margin: 0 (-#{map-get($breakpoint-map, "spacing")});
  }
  
  [data-col] {
    padding: 0 map-get($breakpoint-map, "spacing");
  }
  
  // equal height columns
  [data-row~="flex-#{$breakpoint-key}"] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    & > [data-col] {
      flex: 1;
    }
  }
  
  [data-row~="noflex-#{$breakpoint-key}"] {
    display: block;
  }
  
  // col, push, pull & offset
  @for $i from 0 through ($am-columns - 1) {
    [data-col~="#{$breakpoint-key}-#{$i + 1}"] {
      width: ($col-width * ($i + 1));
    }
    
    [data-push~="#{$breakpoint-key}-#{$i}"] {
      left: ($col-width * $i);
    }
  
    [data-pull~="#{$breakpoint-key}-#{$i}"] {
      right: ($col-width * $i);
    }
  
    [data-offset~="#{$breakpoint-key}-#{$i}"] {
      margin-left: ($col-width * $i);
    }
  }
}


// apply grid
// --------------------------------

@each $breakpoint-key, $breakpoint-map in $am-breakpoints {
  
  // mobile first
  @if ($breakpoint-key == xs) {
    @include grid-rules($breakpoint-key, $breakpoint-map);
  }
  
  // other breakpoints
  @else {
    @media only screen and (min-width: #{map-get($breakpoint-map, "width")}) {
      @if ($breakpoint-key != sm) {
        [data-container] {
          max-width: map-get($breakpoint-map, "width");
        }
      }
      
      @include grid-rules($breakpoint-key, $breakpoint-map);
    }
  }  
}


// hidden/visible
// --------------------------------

// media query map
$target-breakpoint: (
  "xs": $only-xs,
  "sm": $only-sm,
  "md": $only-md,
  "lg": $only-lg,
  "xl": $only-xl
);

// loop breakpoints
@each $breakpoint-key, $breakpoint-query in $target-breakpoint {   
  @media #{$breakpoint-query} {
    [data-hidden~="#{$breakpoint-key}"],
    [data-visible]:not([data-visible~="#{$breakpoint-key}"]) {
      display: none !important;
    }
  }
}