// Flexbox grid rules
@mixin ams-flexbox($ams-breakpoint-key, $ams-breakpoint-map, $ams-column-width) {
  @for $ams-i from 0 through (map-get($am-strap, "columns") - 1) {
    [am-col~="#{$ams-breakpoint-key}-#{$ams-i + 1}"] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 ($ams-column-width * ($ams-i + 1));
      -ms-flex: 0 0 ($ams-column-width * ($ams-i + 1));
      flex: 0 0 ($ams-column-width * ($ams-i + 1));
      max-width: ($ams-column-width * ($ams-i + 1));
    }

    [am-push~="#{$ams-breakpoint-key}-#{$ams-i}"] {
      position: relative;
      left: ($ams-column-width * $ams-i);
    }

    [am-pull~="#{$ams-breakpoint-key}-#{$ams-i}"] {
      position: relative;
      right: ($ams-column-width * $ams-i);
    }

    [am-offset~="#{$ams-breakpoint-key}-#{$ams-i}"] {
      margin-left: ($ams-column-width * $ams-i);
    }
  }
}

// Check if grid type is flex
@if (map-get($am-strap, "grid-type") == "flexbox") {

  // Create block elements
  [am-container],
  [am-row],
  [am-col] {
    display: block;
  }

  // Flex row
  [am-row] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  [am-col] {
    width: 100%;
  }

  // Calculate column width
  $ams-column-width: (100% / map-get($am-strap, "columns"));

  // Loop breakpoints & apply grid rules
  @each $ams-breakpoint-key, $ams-breakpoint-map in $ams-breakpoints {

    // Limit container width & center horizontally
    @if (map-get($ams-breakpoint-map, "container-max-width") == true) {
      @media #{map-get($ams-target-breakpoint, $ams-breakpoint-key)} {
        [am-container] {
          max-width: map-get($ams-breakpoint-map, "breakpoint");
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    // Mobile first grid rules
    @if ($ams-breakpoint-key == "xs") {
      @include ams-flexbox($ams-breakpoint-key, $ams-breakpoint-map, $ams-column-width);
    } @else {
      @media only screen and (min-width: #{map-get($ams-breakpoint-map, "breakpoint")}) {
        @include ams-flexbox($ams-breakpoint-key, $ams-breakpoint-map, $ams-column-width);
      }
    }
  }
}