// Clear floats
[am-container],
[am-row] {
  display: block;
  box-sizing: border-box;

  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

// Horizontally center container
[am-container] {
  width: 100%;
  margin: 0 auto;
}

// Prevent column collapse
[am-col] {
  display: block;
  min-height: 1px;
  box-sizing: border-box;
}