// webicons
// --------------------------------

@charset "UTF-8";

@font-face {
  font-family: "webicons";
  src:url("../../fonts/webicons/webicons.eot");
  src:url("../../fonts/webicons/webicons.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/webicons/webicons.woff") format("woff"),
    url("../../fonts/webicons/webicons.ttf") format("truetype"),
    url("../../fonts/webicons/webicons.svg#webicons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  display: block;
  font-family: "webicons" !important;
  content: attr(am-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


// icon assignment
// --------------------------------

[data-icon="pinterest"]:before { content: "a"; }
[data-icon="facebook"]:before { content: "b"; }
[data-icon="instagram"]:before { content: "c"; }
[data-icon="linkedin"]:before { content: "d"; }

[data-icon="twitter"]:before { content: "e"; }
[data-icon="rss"]:before { content: "f"; }
[data-icon="google"]:before { content: "g"; }
[data-icon="skype"]:before { content: "h"; }

[data-icon="pinterest-full"]:before { content: "i"; }
[data-icon="facebook-full"]:before { content: "j"; }
[data-icon="instagram-full"]:before { content: "k"; }
[data-icon="linkedin-full"]:before { content: "l"; }

[data-icon="twitter-full"]:before { content: "m"; }
[data-icon="rss-full"]:before { content: "n"; }
[data-icon="google-full"]:before { content: "o"; }
[data-icon="youtube-full"]:before { content: "p"; }

[data-icon="left"]:before { content: "q"; }
[data-icon="right"]:before {content: "r"; }
[data-icon="up"]:before { content: "s"; }
[data-icon="down"]:before { content: "t"; }

[data-icon="left-full"]:before { content: "u"; }
[data-icon="right-full"]:before { content: "v"; }
[data-icon="up-full"]:before { content: "w"; }
[data-icon="down-full"]:before { content: "x"; }

[data-icon="upload"]:before { content: "y"; }
[data-icon="download"]:before { content: "z"; }
[data-icon="upload-full"]:before { content: "A"; }
[data-icon="download-full"]:before { content: "B"; }

[data-icon="plus"]:before { content: "C"; }
[data-icon="minus"]:before { content: "D"; }
[data-icon="tick"]:before { content: "E"; }
[data-icon="cross"]:before { content: "F"; }

[data-icon="menu"]:before { content: "G"; }
[data-icon="menu-full"]:before { content: "H"; }
[data-icon="screen"]:before { content: "I"; }
[data-icon="cog"]:before { content: "J"; }

[data-icon="cog-full"]:before { content: "K"; }
[data-icon="tools"]:before { content: "L"; }
[data-icon="lock"]:before { content: "M"; }
[data-icon="trash"]:before { content: "N"; }

[data-icon="flag"]:before { content: "O"; }
[data-icon="exclamation"]:before { content: "P"; }
[data-icon="information"]:before { content: "Q"; }
[data-icon="pin"]:before { content: "R"; }

[data-icon="location"]:before { content: "S"; }
[data-icon="search"]:before { content: "T"; }
[data-icon="return"]:before { content: "U"; }
[data-icon="play"]:before { content: "V"; }

[data-icon="phone"]:before { content: "W"; }
[data-icon="phone-full"]:before { content: "X"; }
[data-icon="mail"]:before { content: "Y"; }
[data-icon="speak"]:before { content: "Z"; }

[data-icon="quote-open"]:before { content: "0"; }
[data-icon="quote-close"]:before { content: "1"; }
[data-icon="people"]:before { content: "2"; }
[data-icon="person"]:before { content: "3"; }

[data-icon="lightning"]:before { content: "4"; }
[data-icon="bulb"]:before { content: "5"; }
[data-icon="atom"]:before { content: "6"; }
[data-icon="calendar"]:before { content: "7"; }

[data-icon="edit"]:before { content: "8"; }
[data-icon="users"]:before { content: "9"; }