// page
// --------------------------------

html {
  height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  word-wrap: break-word;
  background-color: #ffffff;
}


// spacing
// --------------------------------

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    outline-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
}

p {
  padding-bottom: 1rem;
}

ul,
ol {
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 1rem;
}


// tables
// --------------------------------

table {
  border-spacing: 0;
  background: transparent;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}


// forms
// --------------------------------

button,
input,
select,
optgroup,
textarea {
  color: inherit;
  vertical-align: baseline;
}

button,
input[type="reset"],
input[type="submit"],
html input[type="button"] {
  cursor: pointer;
}

input {
  line-height: normal;
}

input[type="email"] {
  box-shadow: none;
}

a,
area,
button,
summary,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}


// misc
// --------------------------------

a[disabled] {
  pointer-events: none;
}

q {
  quotes: none;

  &::before,
  &::after {
    content: "";
    content: none;
  }
}

img {
  max-width: 100%;
}