// config
// --------------------------------

$breakpoints: (
  "xs": (
    "width": 0px
  ),
  "sm": (
    "width": 420px
  ),
  "md": (
    "width": 768px
  ),
  "lg": (
    "width": 992px
  ),
  "xl": (
    "width": 1200px
  )
) !default;


// target specific breakpoint
// --------------------------------

$only-xs: "only screen and (max-width: #{map-get(map-get($breakpoints, sm), width) - 1px})";
$only-sm: "only screen and (min-width: #{map-get(map-get($breakpoints, sm), width)}) and (max-width: #{map-get(map-get($breakpoints, md), width) - 1px})";
$only-md: "only screen and (min-width: #{map-get(map-get($breakpoints, md), width)}) and (max-width: #{map-get(map-get($breakpoints, lg), width) - 1px})";
$only-lg: "only screen and (min-width: #{map-get(map-get($breakpoints, lg), width)}) and (max-width: #{map-get(map-get($breakpoints, xl), width) - 1px})";
$only-xl: "only screen and (min-width: #{map-get(map-get($breakpoints, xl), width)})";


// below breakpoint
// --------------------------------

$below-sm: "only screen and (max-width: #{map-get(map-get($breakpoints, sm), width) - 1px})";
$below-md: "only screen and (max-width: #{map-get(map-get($breakpoints, md), width) - 1px})";
$below-lg: "only screen and (max-width: #{map-get(map-get($breakpoints, lg), width) - 1px})";
$below-xl: "only screen and (max-width: #{map-get(map-get($breakpoints, xl), width) - 1px})";


// above breakpoint
// --------------------------------

$above-sm: "only screen and (min-width: #{map-get(map-get($breakpoints, sm), width)})";
$above-md: "only screen and (min-width: #{map-get(map-get($breakpoints, md), width)})";
$above-lg: "only screen and (min-width: #{map-get(map-get($breakpoints, lg), width)})";
$above-xl: "only screen and (min-width: #{map-get(map-get($breakpoints, xl), width)})";


// ipad
// --------------------------------

$ipad-portrait: "all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait)";
$ipad-landscape: "all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape)";