// config
// --------------------------------

$am-system: (
  "padding": 1rem,
  "spacing": 1rem,
  "positive-color": #9bd49b,
  "negative-color": #ed9696
) !default;


// vendor prefixes
// --------------------------------

@mixin amVendorPrefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: #{$value};
  }
  #{$property}: $value;
}


// response
// --------------------------------

[data-response] {
  position: relative;
  display: block;
  font-size: 1rem;
  padding: map-get($am-system, "padding");
  margin-bottom: map-get($am-system, "spacing");

  // enter animation
  &.ng-enter {
    opacity: 0;
    @include amVendorPrefix(transition, "opacity 300ms", webkit moz o);

    &.ng-enter-active {
      opacity: 1;
    }
  }

  // leave animation
  &.ng-leave {
    opacity: 1;
    @include amVendorPrefix(transition, "opacity 300ms", webkit moz o);

    &.ng-leave-active {
      opacity: 0;
    }
  }
}


// colors
// --------------------------------

@function am-system-color($color) {
  @if (lightness($color) > 50) {
    @return #111111;
  } @else {
    @return #ffffff;
  }
}

[data-response~="positive"] {
  color: am-system-color(map-get($am-system, "positive-color"));
  background: map-get($am-system, "positive-color");
}

[data-response~="negative"] {
  color: am-system-color(map-get($am-system, "negative-color"));
  background: map-get($am-system, "negative-color");
}


// close
// --------------------------------

[data-response~="close"] {
  padding-right: (map-get($am-system, "padding") * 3);
  
  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: map-get($am-system, "padding");
    height: 1px;
    top: 50%;
    right: map-get($am-system, "padding");
    margin-top: (-#{map-get($am-system, "padding")} / 2);
    @include amVendorPrefix(transform-origin, "50% 50%", webkit moz ms o);
  }
  
  &::before {
    @include amVendorPrefix(transform, "rotate(-45deg)", webkit moz ms o);
  }
  
  &::after {
    @include amVendorPrefix(transform, "rotate(45deg)", webkit moz ms o);
  }
  
  &[data-response~="positive"] {
    &::before,
    &::after {
      background-color: am-system-color(map-get($am-system, "positive-color"));
    }
  }
  
  &[data-response~="negative"] {
    &::before,
    &::after {
      background-color: am-system-color(map-get($am-system, "negative-color"));
    }
  }
}