// responsive tables
// --------------------------------

[data-table] {
  display: table;
  width: 100%; }


//responsive tables: rows
[data-group]:nth-child(odd) { background: darken($c-bg, 5); }
[data-group]:nth-child(even) { background: $c-bg; }

[data-table="xs"] [data-group] { display: table-row; }
[data-table="sm"] [data-group] { @media #{$above-xs} { display: table-row; } }
[data-table="md"] [data-group] { @media #{$above-sm} { display: table-row; } }
[data-table="lg"] [data-group] { @media #{$above-md} { display: table-row; } }


//responsive tables: header
[data-group="header"]:nth-child(odd) { color: #FFF; background: darken($c-bg, 60); }
[data-table="sm"] [data-group="header"] { @media #{$below-sm} { display: none; } }
[data-table="md"] [data-group="header"] { @media #{$below-md} { display: none; } }
[data-table="lg"] [data-group="header"] { @media #{$below-lg} { display: none; } }

[data-group="header"] {

  a, a:hover {
    position: relative;
    color: #FFF;
    padding-right: 18px; }

  a.ordered:after {
    position: absolute;
    content: "";
    top:50%; right:0;
    margin-top: -3px;
    border-style: solid;
    border-width: 0 3px 6px;
    border-color: transparent transparent #CCC;
    transition: transform 200ms; }

  a.ordered.reversed:after { transform: rotate(180deg); }

}


//responsive tables: cells
[data-cell] {
  position: relative;
  display: table-cell;
  padding: 5px;
  min-height: 2em; }

[data-table="sm"] [data-cell] { @media #{$below-sm} { display: block; padding-left: 30%; } }
[data-table="md"] [data-cell] { @media #{$below-md} { display: block; padding-left: 30%; } }
[data-table="lg"] [data-cell] { @media #{$below-lg} { display: block; padding-left: 30%; } }

[data-cell]:before {
  position: absolute;
  display: block;
  top:0; left:0; bottom:0;
  width: 25%;
  padding: 5px;
  margin-right: 5%;
  font-weight: bold;
  content: attr(am-cell);
  border-right: 1px solid darken($c-bg, 10); }

[data-table="sm"] [data-cell]:before { @media #{$above-xs} { display: none; } }
[data-table="md"] [data-cell]:before { @media #{$above-sm} { display: none; } }
[data-table="lg"] [data-cell]:before { @media #{$above-md} { display: none; } }


//responsive tables: inputs
[data-table] {

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    display: inline-block;
    border: none;
    margin: 0;
    height: 2em;
    line-height: 1.6em;
    padding: 0.2em 10px;
    background: darken($c-bg, 20); }

}


//responsive tables: status
[data-group]{
  &.active { background: #9ec4d9; }
  &.success { background: #9ed9af; }
  &.warning { background: #e9dda5; }
  &.danger { background: #ed9696; }
}


// real tables
// --------------------------------

.table {
  width: 100%;
  max-width: 100%; }

.table {

  th, td {
    padding: 5px;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    transition: background 300ms; }

  th {
    color: #FFF;
    vertical-align: bottom;
    background: darken($c-bg, 60); }

  tr:nth-child(odd) td { background: darken($c-bg, 5); }
  tr:nth-child(even) td { background: $c-bg; }

}


//real tables: responsive wrap
@media #{$below-sm} {
  .table-sm {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-sm th, .table-sm td { white-space: nowrap; }
}

@media #{$below-md} {
  .table-md {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-md th, .table-md td { white-space: nowrap; }
}

@media #{$below-lg} {
  .table-lg {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .table-lg th, .table-lg td { white-space: nowrap; }
}


//real tables: status
.table {
  td.active, tr.active td { background: #9ec4d9; }
  td.success, tr.success td { background: #9ed9af; }
  td.warning, tr.warning td { background: #e9dda5; }
  td.danger, tr.danger td  { background: #ed9696; }
}