# Root file
root = true

# Global
[*]
end_of_line = lf
trim_trailing_whitespace = true

# 2 space indentation
[*.{html,css,scss,sass,less,js,json,php}]
indent_style = space
indent_size = 2

# 4 space indentation
[*.{cshtml}]
indent_style = space
indent_size = 4