body {
  margin: 0;
  padding: 2rem 0;
  font-family: sans-serif;
  background: #fff;
}

p {
  padding-bottom: 2rem;
  margin: 0;
}

[data-block] {
  padding: 1rem 0;
  margin-bottom: 2rem;
  text-align: center;
}

[data-block~="red"] {
  background: #c88787;
}

[data-block~="blue"] {
  background: #a0b5d1;
}

[data-block~="green"] {
  background: #a1cab0;
}

code {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 2em;
  background: #eee;
  border: 1px solid #ddd;
}